<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body th:inline="text">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
          <a th:each="menur:${daohang}" th:text="${menur.get('title')}" th:href="${menur.get('url')}">
        </a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form method="post" action="/admin/power/insert" class="layui-form layui-col-md12 x-so layui-form-pane">
          <div class="layui-input-inline">
            <select name="MenuId">
              <option th:each="powertype:${list}" th:value="${powertype.getMenuId()}" th:text="${powertype.getTitle()}">文章</option>
            </select>
          </div>
          <input class="layui-input" placeholder="权限标识" name="perms" >
          <input class="layui-input" placeholder="权限名" name="name" >
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>增加</button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right"  style="line-height:40px">共有数据：[[${powerlist.size()}]] 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>

            </th>
            <th>ID</th>
            <th>权限规则</th>
            <th>权限名称</th>
            <th>所属分类</th>
            <th>描述</th>
            <th>操作</th>
        </thead>
        <tbody>
          <tr th:each="power:${powerlist}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${power.getPowId()}">1</td>
            <td th:text="${power.getPerms()}">admin/user/userlist</td>
            <td th:text="${power.getName()}">会员列表</td>
            <td th:text="${power.getMenu().getTitle()}">会员相关</td>
            <td th:text="${power.getDescription()}">描述</td>
            <td class="td-manage">
              <a title="编辑"  th:onclick="|x_power_show(${power.getPowId()},'/admin/power/edit')|" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" th:onclick="|member_del(this,${power.getPowId()})|" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
        <div >
            <div id="demo1"></div>
        </div>

    </div>
    <script th:inline="text">
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
                , layer = layui.layer;

            //总页数大于页码总数
            laypage.render({
                elem: 'demo1'
                ,count: [[${pageinfo.getTotal()}]] //数据总数
                ,limit:10
                ,curr:[[${pageinfo.getPageNum()}]]
                ,jump: function(obj,first){
                    if(!first){
                        window.location.href="/admin/power?page="+obj.curr+"&limit"+obj.limit
                    }}
            });

        })




      function msge(data) {
          layui.use('layer', function() {
              var layer = layui.layer;
              layer.msg(data);
              setTimeout('window.location.reload()',2000);
          })
      }

      /*权限-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  url:"/admin/power/delete",
                  type: 'post',
                  dataType: 'json',
                  data:{id:id},
                  success:function (data) {
                      if(data.code==200){
                          $(obj).parents("tr").remove();
                          layer.msg(data.msg);
                      }else if(data.hashMap.code=='999'){
                          layer.msg(data.hashMap.msg);
                      }else{
                          $(obj).parents("tr").remove();
                          layer.msg(data.msg);
                      }
                  }
              });

          });
      }



      function delAll (argument) {

          var datas = tableCheck.getData();

          layer.confirm('确认要删除吗？'+datas,function(index){
              //捉到所有被选中的，发异步进行删除
              $.ajax({
                  url:"/admin/power/deleteall",
                  type: 'post',
                  dataType: 'json',
                  data:{datas:datas.toString()},
                  success:function (data) {
                      if(data==200){
                          layer.msg("删除成功");
                          $(".layui-form-checked").not('.header').parents('tr').remove();
                      }else if(data.hashMap.code=='999'){
                          layer.msg(data.hashMap.msg);
                      }else{
                          layer.msg("删除失败");
                      }
                  }
              });

          });


      }

      function x_power_show(id,url,w,h){

          if (url == null || url == '') {
              url="404.html";
          };
          if (w == null || w == '') {
              w=($(window).width()*0.9);
          };
          if (h == null || h == '') {
              h=($(window).height() - 50);
          };
          layer.open({
              type: 2,
              area: [w+'px', h +'px'],
              fix: false, //不固定
              maxmin: true,
              shadeClose: true,
              shade:0.4,
              title: "修改",
              content: url+"?id="+id
          });
      }
    </script>
  </body>

</html>