<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>标签管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body th:inline="text">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
         <a th:each="menur:${daohang}" th:text="${menur.get('title')}" th:href="${menur.get('url')}">
        </a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form method="post" action="/admin/tager/insert" class="layui-form layui-col-md12 x-so layui-form-pane">
          <input class="layui-input" placeholder="标签名" name="title">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>增加</button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px">共有数据：[[${list.size()}]] 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>标签名</th>
            <th>操作</th>
        </thead>
        <tbody>
          <tr th:each="st:${list}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" th:attr="data-id=${st.getTagId()}" ><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${st.getTagId()}">1</td>
            <td th:text="${st.getTitle()}">会员相关</td>
            <td class="td-manage">
              <a title="删除" th:onclick="|member_del(this,${st.getTagId()})|" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="demo1"></div>

    </div>

  </body>
  <script th:inline="javascript">

      layui.use(['laypage', 'layer'], function() {
          var laypage = layui.laypage
              , layer = layui.layer;

          //总页数大于页码总数
          laypage.render({
              elem: 'demo1'
              ,count: [[${pageinfo.getTotal()}]] //数据总数
              ,limit:10
              ,curr:[[${pageinfo.getPageNum()}]]
              ,jump: function(obj,first){
                  if(!first){
                      window.location.href="/admin/tager?page="+obj.curr+"&limit"+obj.limit
                  }}
          });

      })


      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  url:"/admin/tager/delete",
                  type: 'post',
                  dataType: 'json',
                  data:{id:id},
                  success:function (data) {
                      if(data.code==200){
                          layer.msg(data.msg);
                          $(obj).parents("tr").remove();
                      }else if(data.code==500){
                          layer.msg(data.msg);
                      }else if(data.hashMap.code=='999'){
                          layer.msg(data.hashMap.msg);
                      }

                  }
              });
          });
      }



      function delAll (argument) {

          var datas = tableCheck.getData();

          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  url:"/admin/tager/deleteall",
                  type: 'post',
                  dataType: 'json',
                  data:{datas:datas.toString()},
                  success:function (data) {
                      if(data==200){
                          layer.msg("删除成功");
                          $(".layui-form-checked").not('.header').parents('tr').remove();
                      }else if(data==500){
                          layer.msg("删除失败");
                      }else if(data.hashMap.code=='999'){
                          layer.msg(data.hashMap.msg);
                      }
                  }
              });

          });
      }
  </script>
</html>