<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="UTF-8">
    <title>管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
      <a th:each="menur:${daohang}" th:text="${menur.get('title')}" th:href="${menur.get('url')}">
        </a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show(null,'/admin/administrators/add')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>

            </th>
            <th>ID</th>
            <th>登录名</th>
            <th>性别</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>角色</th>
            <th>加入时间</th>
            <th>最近登录时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
          <tr th:each="user:${userlist}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" th:attr="data-id=${user.getUserId()}" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${user.getUserId()}">1</td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getSex()}">男</td>
            <td th:text="${user.getPhone()}">17581711352</td>
            <td th:text="${user.getEmail()}">496056171@qq.com</td>
            <td  >
              <span th:each="role:${user.getRole()}" th:text="${role.getName()}+'&nbsp&nbsp'"></span>
            </td>
            <td th:text="${user.getCreatetime()}">2017-01-01 11:11:42</td>
            <td th:text="${user.getLastlogin()}">2017-01-01 11:11:42</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal  layui-btn-mini"  th:text="${user.getState()=='1'?'已启用':'已停用'}">已启用</span></td>
            <td class="td-manage">
              <a th:onclick="|member_stop(this,${user.getUserId()})|" href="javascript:;" th:title="${user.getState()=='1'?'停用':'启用'}" >
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a title="编辑"  th:onclick="|x_admin_show(${user.getUserId()},'/admin/administrators/edit')|">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" th:onclick="|member_del(this,${user.getUserId()})|">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div >
        <div id="demo1"></div>
      </div>

    </div>

    <script th:inline="javascript">


        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
                , layer = layui.layer;

            //总页数大于页码总数
            laypage.render({
                elem: 'demo1'
                ,count: [[${pageinfo.getTotal()}]] //数据总数
                ,limit:10
                ,curr:[[${pageinfo.getPageNum()}]]
                ,jump: function(obj,first){
                    if(!first){
                    window.location.href="/admin/administrators?page="+obj.curr+"&limit"+obj.limit
                }}
            });

        })
            layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){

          if($(obj).attr('title')=='停用'){
              layer.confirm('确认要停用吗？', function (index) {

                  $.ajax({
                      url:'/admin/administrators/updatestate',
                      method:'post',
                      data:{userid:id,state:0}
                      ,
                      dataType:'json',
                      success:function (data) {
                       if(data.code==200){
                           //发异步把用户状态进行更改if(){}xdxxssddcccc
                           $(obj).attr('title','启用')
                           $(obj).find('i').html('&#xe62f;');
                           $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                           layer.msg('已停用!', {icon: 5, time: 1000});
                       }else if(data.code==500){
                           layer.msg('启用失败!');
                       }else if(data.hashMap.code=='999'){
                           layer.msg(data.hashMap.msg);
                       }
                      }}
                      )
              });
          }else{
              layer.confirm('确认要启用吗？', function (index) {
                  $.ajax({
                      url:'/admin/administrators/updatestate',
                      method:'post',
                      data:{userid:id,state:1}
                      ,
                      dataType:'json',
                      success:function (data) {
                          if(data.code==200){
                              //发异步把用户状态进行更改if(){}xdxxssddcccc
                              $(obj).attr('title','停用')
                              $(obj).find('i').html('&#xe601;');

                              $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                              layer.msg('已启用!');

                          }else if(data.code==500){
                              layer.msg('停用失败!');
                          }else if(data.hashMap.code=='999'){
                              layer.msg(data.hashMap.msg);
                          }
                      }}
                  )

              });
          }
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){

              $.ajax({
                  url:"/admin/administrators/delete",
                  type: 'post',
                  dataType: 'json',
                  data:{id:id},
                  success:function (data) {
                      if(data.code==200){
                          $(obj).parents("tr").remove();
                          layer.msg('已删除!',{icon:1,time:1000});
                      }else if(data.hashMap.code=='999'){
                          layer.msg(data.hashMap.msg);
                      }else{
                          $(obj).parents("tr").remove();
                          layer.msg("删除失败");
                      }
                  }
              });
          });
      }

      function msge(data) {
          layui.use('layer', function() {
              var layer = layui.layer;
              layer.msg(data);
              setTimeout('window.location.reload()',2000);
          })
      }

      function delAll (argument) {

        var datas = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+datas,function(index){
            $.ajax({
                url:"/admin/administrators/deleteall",
                type: 'post',
                dataType: 'json',
                data:{datas:datas.toString()},
                success:function (data) {
                    if(data==200){
                        layer.msg('删除成功', {icon: 1});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }else if(data.hashMap.code=='999'){
                        layer.msg(data.hashMap.msg);
                    }else{
                        layer.msg("删除失败");
                    }
                }
            });

        });
      }
    </script>
  </body>

</html>