<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdang.system.mapper.DeptMapper">

    <select id="listParentDept" resultType="long">
		select DISTINCT parent_id from sys_dept
	</select>
    <select id="listAllDept" resultType="long">
				select DISTINCT depaid from sys_user
	</select>

</mapper>
