<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdang.system.mapper.CommentMapper">

    <resultMap id="comment" type="com.bootdang.system.entity.Comment">
        <id property="commentId" column="comment_id" jdbcType="INTEGER"></id>
        <result property="context" column="context" jdbcType="VARCHAR"></result>
        <result property="parentid" column="parentid" jdbcType="INTEGER"/>
        <result property="hfusername" column="hfusername" jdbcType="VARCHAR"/>
        <result property="articleid" column="articleid" jdbcType="INTEGER"/>
        <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
        <result property="createuserid" column="createuserid" jdbcType="INTEGER"/>
        <result property="fabulous" column="fabulous" jdbcType="INTEGER"/>
        <association property="user" column="createuserid" select="com.bootdang.system.mapper.UserMapper.selectByUserRole"/>
    </resultMap>
    <select id="selectByArticleId" resultMap="comment">
        select*from sys_comment where articleid=${_parameter} order by comment_id desc
    </select>
</mapper>
