<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdang.system.mapper.PowerMapper">

    <resultMap id="power_menu" type="com.bootdang.system.entity.Power">
         <id property="powId" column="pow_id" jdbcType="INTEGER" javaType="integer"/>
        <result property="powerType" column="power_type" jdbcType="INTEGER"/>
        <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <association property="menu" column="menu_id" jdbcType="INTEGER" javaType="com.bootdang.system.entity.Menu" select="com.bootdang.system.mapper.MenuMapper.mySelectById"/>
    </resultMap>
    <select id="selectAllMenu" resultMap="power_menu">
       select * from sys_power
    </select>
    <select id="selectByUserId" resultType="com.bootdang.system.entity.Power">
        select p.* from sys_power p left join sys_power_role pr on p.pow_id=pr.pow_id left join sys_role_user ru on ru.role_id=pr.role_id where ru.user_id=#{_paramenter}
    </select>

</mapper>
