<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>系统栏目管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
  <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="/admin">首页</a>

        <a th:each="menur:${daohang}" th:text="${menur.get('title')}" th:href="${menur.get('url')}">
        </a>

      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:38px">ဂ</i></a>
  </div>
  <!--href="javascript:location.replace(location.href);"-->
    <div class="x-body">
      <xblock>
        <button class="layui-btn" id="addss" lay-submit="" ><i class="layui-icon"></i>新增</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="10">

            </th>
            <th width="20">ID</th>
            <th width="60">URL地址</th>
            <th width="50">创建用户</th>
           <th width="100">栏目名</th>
            <th width="10">排序</th>
            <th width="50">状态</th>
            <th width="280">操作</th>
        </thead>
        <tbody class="x-cate">
          <tr th:each="treemenu:${lists}" th:attr="cate-id=${treemenu.getMenuId()},fid=${treemenu.getParentid()}"    >
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" th:attr="data-id=${treemenu.getMenuId()}"><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${treemenu.getMenuId()}">1</td>
            <td th:text="${treemenu.getUrl()}"></td>
            <td th:text="${treemenu.getUser().getUsername()}">3</td>
            <td >
                <span th:text=" ${treemenu.getParentid()!=0?'&nbsp;&nbsp;&nbsp;':''}"></span>
              <i th:if="${treemenu.getParentid()==0}" class="layui-icon x-show" status='true'>&#xe623;</i>
                <span th:text=" ${treemenu.getTitle()}"></span>
            </td>
            <td><input type="text" class="layui-input x-sort" th:value="${treemenu.getOrderNum()}" name="order" value="1"></td>
            <td>
              <input type="checkbox" lay-filter="state" th:value="${treemenu.getMenuId()}"  name="switch"  lay-text="开启|停用"   th:checked="${(treemenu.getState())==1}"  lay-skin="switch">
            </td>
            <td class="td-manage">
              <button class="layui-btn layui-btn layui-btn-xs" th:onclick="|x_admin_show(${treemenu.getMenuId()},'/admin/systemcolumn/edit')|"   ><i class="layui-icon">&#xe642;</i>编辑</button>
              <button class="layui-btn layui-btn-warm layui-btn-xs"  th:onclick="|x_admin_show(${treemenu.getMenuId()},'/admin/systemcolumn/loweradd')|" ><i class="layui-icon">&#xe642;</i>添加子栏目</button>
              <button class="layui-btn-danger layui-btn layui-btn-xs"  th:onclick="|member_del(this,${treemenu.getMenuId()})|" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  <script th:src="@{/static/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
  <script  type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <script>

        $(function () {
            $("#addss").click(function () {
                layui.use('layer', function () {
                    var  layer = layui.layer;
                    layer.open({
                        type: 2,
                        shade: false,
                        area: ['700px','500px'],
                        maxmin: true,
                        content: '/admin/systemcolumn/add',
                        success: function(layero){
                            // layer.setTop(layero); //重点2
                        }
                    });
                });
            })

        })

      layui.use(['form','layer'], function(){
          var form = layui.form, layer = layui.layer, $ = layui.jquery;
          form.on('switch(state)', function(data){
              $.ajax({
                  url:"/admin/systemcolumn/updatestate",
                  type: 'post',
                  dataType: 'json',
                  data:{id:data.elem.value,state:data.elem.checked},
                  success:function (data) {
                      if(data==200){
                          layer.msg("修改成功");
                      }else{
                          layer.msg("修改失败");
                      }
                  }
              });
          });

      });

        function msge(data) {
            layui.use('layer', function() {
                var layer = layui.layer;
                layer.msg(data);
                setTimeout('window.location.reload()',2000);
            })
        }

      function replacesx(){
          location.replace(location.href);

      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
                  url:"/admin/systemcolumn/delete",
                  type: 'post',
                  dataType: 'json',
                  data:{id:id},
                  success:function (data) {
                      if(data==200){
                          layer.msg("删除成功");
                          $(obj).parents("tr").remove();
                      }else{
                          layer.msg("删除失败");
                          $(obj).parents("tr").remove();
                      }
                  }
              });


          });
      }



      function delAll (argument) {

        var datas = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+datas,function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                url:"/admin/systemcolumn/deleteall",
                type: 'post',
                dataType: 'json',
                data:{datas:datas.toString()},
                success:function (data) {
                    if(data==200){
                        layer.msg("删除成功");
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }else{
                        layer.msg("删除失败");
                    }
                }
            });

        });
      }
    </script>
  </body>

</html>