<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>部门添加</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_eolqem241z66flxr.css" media="all" />
</head>
<body style="margin-top:20px;" class="childrenBody">
	<form class="layui-form" style="width:80%;">
		<div class="layui-form-item">
			<label class="layui-form-label">部门名称</label>
			<div class="layui-input-block">
				<input type="text" name="name" class="layui-input linksName" lay-verify="required" placeholder="请输入链接标题">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">上级部门</label>
			<div class="layui-input-block">
				<select name="parentId">
					<option disabled selected th:text="${dept!=null?dept.getName():'顶级部门'}" th:value="${dept!=null?dept.getDeptId():0}">顶级部门</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
				<label class="layui-form-label">排序</label>
				<div class="layui-input-inline">
					<input type="text" name="num" class="layui-input linksTime" lay-verify="required" >
				</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">部门状态</label>
			<div class="layui-input-block">
				<input type="checkbox"  name="isDelete" lay-skin="switch">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit  lay-filter="add">立即提交</button>
		    </div>
		</div>
	</form>
	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
	<script >
        layui.use(['form','layer','jquery'],function(){
            var form = layui.form(),
                layer = layui.layer,
                $ = layui.jquery;

            form.on("submit(add)",function(data){
                $.ajax({
					url:'/admin/dept/insert',
					method:'post',
					dataType:'json',
					data:data.field,
					success:function (datas) {
                        if(datas.code==200){
                            window.parent.msge("新增成功");
                            var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);

                        }else if(datas.code==500){
                            window.parent.msge("新增失败");
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);

                        }else if(datas.hashMap.code=='999'){
                            layer.msg(datas.hashMap.msg);
						};

                    },error:function () {
						layer.msg("网络错误");
                    }
				})


                return false;
            })

        })
	</script>
</body>
</html>